<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Zentralwerkstatt.Properties.Settings.projektzConnectionString"
            connectionString="server=localhost;user id=root;password=adminit;database=projektz"
            providerName="MySql.Data.MySqlClient" />
        <add name="Zentralwerkstatt.Properties.Settings.projektzConnectionString1"
            connectionString="server=10.152.1.107;user id=fw;password=fw1;persistsecurityinfo=True;database=projektz"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>